<html>
  <head>
    <title>Lost Dogs Portal</title>
    <style>
        .newspaper {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
        }
        .head {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="head">
        <h1>LOST DOGS</h1>
    </div>
    <div>
        <form method="POST">
            {{ cform.hidden_tag() }}
            <fieldset>
                <legend>Create Dog</legend>
                {{ cform.name.label }}<br>
                {{ cform.name }}<br>
                {{ cform.fur_color.label }}<br>
                {{ cform.fur_color }}<br>
                {{ cform.breed.label }}<br>
                {{ cform.breed }}<br>
                {{ cform.gender.label }}<br>
                {{ cform.gender }}<br><br>
                {{ cform.create }}
            </fieldset>
        </form>
    </div>
    <br>
    <br>
    <b>Registered Dog Breeds</b><br><br>
    {% for i in data %}
        Breed = {{ i["_id"] }} <br>
        Total Registered Dogs = {{ i["total"] }}<br>
        Male Dogs = {{ i["male"] }} <br>
        Female Dogs = {{ i["female"] }}<br><br>
    {% endfor %}
  </body>
</html>
